[submodule ".registry"]
	path = .registry
	url = https://github.com/markbravington/markbravington.r-universe.dev
	branch = HEAD
[submodule "TMBO"]
	path = TMBO
	url = https://github.com/markbravington/TMBO
[submodule "atease"]
	path = atease
	url = https://github.com/markbravington/atease
[submodule "debug"]
	path = debug
	url = https://github.com/markbravington/debug
[submodule "deconvodisc"]
	path = deconvodisc
	url = https://github.com/markbravington/deconvodisc
[submodule "despack"]
	path = despack
	url = https://github.com/markbravington/despack
[submodule "gasplit"]
	path = gasplit
	url = https://github.com/markbravington/gasplit
[submodule "lyxport"]
	path = lyxport
	url = https://github.com/markbravington/lyxport
[submodule "microscoping"]
	path = microscoping
	url = https://github.com/markbravington/microscoping
[submodule "mvbjoblot"]
	path = mvbjoblot
	url = https://github.com/markbravington/mvbjoblot
[submodule "mvbutils"]
	path = mvbutils
	url = https://github.com/markbravington/mvbutils
[submodule "offarray"]
	path = offarray
	url = https://github.com/markbravington/offarray
[submodule "offartmb"]
	path = offartmb
	url = https://github.com/markbravington/offartmb
