[submodule ".registry"]
	path = .registry
	url = https://github.com/markbravington/markbravington.r-universe.dev
	branch = HEAD
[submodule "mvbutils"]
	path = mvbutils
	url = https://github.com/markbravington/mvbutils
